@import "./variables.scss";

html {
  background: $background-color;
  width: 100vw;
  font-variant: no-common-ligatures;
}

body {
  margin: 0.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-content {
  display: grid;
  grid-template-rows: 0.7fr 2fr 1fr;
  grid-template-areas: "nav" "hero" "info-ctn";
  border-radius: 1rem;
  background-image: url("image-1.jpg");
  background-position: top center;
  background-size: cover;
  height: 80vh;
  width: 100%;
  margin: 0;
  nav {
    font-family: $header-font;
    margin: auto;
    width: 80%;
    height: 3rem;
    margin-top: 2rem;
    max-width: 50rem;
    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin: 0;
      padding: 0;
    }
  }
}

.main-nav {
  background: rgba(255, 255, 255, 0.3);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  ul {
    li {
      padding: 0 1rem;
      letter-spacing: 0.05rem;
      a {
        &:hover,
        &:focus {
          text-shadow: 0 0 0.3px;
        }
      }
    }
  }
}

.logo {
  letter-spacing: 0.6rem;
  font-size: large;
  font-weight: bold;
}

.login {
  padding: 0.5rem 1.5rem;
  background: rgba(0, 0, 0, 0.603);
  color: $background-color;
  border-radius: 20px;
  &:hover,
  &:active {
    background: rgba(0, 0, 0, 0.5);
    scale: 1.02;
    cursor: pointer;
  }
}

.hero {
  display: flex;
}
.hero-ctn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "hero-ctn__text hero-ctn__goal"
    "hero-ctn__title hero-ctn__title"
    "hero-ctn__search hero-ctn__search";
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: 65vw;
  margin: 1rem auto;
  border-radius: 30px;
  text-shadow: 0 0 1rem black;
  font-family: $content-font;
  backdrop-filter: blur(1.5px);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), transparent);
  color: $background-color;
}
.hero-ctn__text {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1rem;
  h1 {
    // font-size: 3rem;
    font-size: 3vw;
    font-weight: 300;
    margin: 0;
    letter-spacing: 0.2rem;
  }
}

.hero-ctn__goal {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  p {
    letter-spacing: 0.5rem;
    // font-size: 4rem;
    font-size: 4vw;
    font-weight: 600;
    position: absolute;
    opacity: 0;
    transform: translateY(-3rem);
    animation: fadeInOut 6s infinite;
    &:nth-child(1) {
      color: turquoise;
      animation-delay: 0s;
    }
    &:nth-child(2) {
      color: rgb(218, 255, 71);
      animation-delay: 2s;
    }
    &:nth-child(3) {
      color: rgb(255, 87, 87);
      animation-delay: 4s;
    }
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  30% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 0;
    transform: translateY(3rem);
  }
}

.hero-ctn__title {
  grid-column-start: 1;
  grid-column-end: -1;
  justify-self: center;
  h2 {
    font-weight: 500;
    font-size: 1.5vw;
    letter-spacing: 0.2rem;
    text-wrap: nowrap;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
}

.hero-ctn__search {
  grid-column-start: 1;
  grid-column-end: -1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  margin: 0.5rem 1rem;
  border-radius: 20px;
  letter-spacing: 0.05rem;
  width: 40vw;
  margin: auto;
  font-size: 1rem;
  .dropdown {
    position: relative;
    padding: 0.5rem 1rem;
    margin: 0;
    svg {
      height: inherit;
      width: inherit;
      vertical-align: text-top;
      padding-right: 0.5rem;
    }
    p {
      opacity: 0;
      right: 0;
      transform: translateY(-2rem);
      position: absolute;
      background: rgba(255, 255, 255);
      border-radius: 20px;
      padding: 1rem;
      color: black;
    }
    &:hover p {
      animation: expandContent 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28)
        forwards;
    }
  }
  button {
    padding: 0.2rem 1rem;
    margin: 0.2rem;
    background: $background-color;
    color: black;
    font: inherit;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    margin-left: 1rem;
    svg {
      height: inherit;
      width: inherit;
      vertical-align: middle;
    }
    &:hover,
    &:active {
      background: rgb(218, 255, 71);
      cursor: pointer;
    }
  }
}

@keyframes expandContent {
  0% {
    transform: translateY(-2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(-1rem);
    opacity: 1;
  }
}
