@import "./variables.scss";

html {
  background: $background-color;
  width: 100vw;
}

body {
  margin: 0.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-content {
  display: flex;
  border-radius: 1rem;
  background-image: url("image-1.jpg");
  justify-content: center;
  height: 80vh;
  width: auto;
  margin: 0;
  nav {
    font-family: $header-font;
    width: 80%;
    margin-top: 2rem;
    max-width: 50rem;
    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin: 0;
      padding: 0;
    }
  }
}

.main-nav {
  background: rgba(255, 255, 255, 0.3);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  ul {
    li {
      padding: 0 1rem;
      letter-spacing: 0.05rem;
      a {
        &:hover,
        &:focus {
          text-shadow: 0 0 0.3px;
        }
      }
    }
  }
}

.logo {
  letter-spacing: 0.6rem;
  font-size: large;
  font-weight: bold;
}

.login {
  padding: 0.5rem 1.5rem;
  background: rgba(0, 0, 0, 0.603);
  color: $background-color;
  border-radius: 20px;
  &:hover,
  &:active {
    background: rgba(0, 0, 0, 0.5);
    scale: 1.02;
  }
}
